header {
    // color: black;
    min-height: 600px;
    background: rgb(42,157,143);
    background: linear-gradient(0deg, rgba(42,157,143,1) 0%, rgba(244,162,97,1) 37%, rgba(233,196,106,1) 69%);


    .mycontainer{
        position: relative;
    }

    nav{
        align-items: center;
        padding: 5px 0;

        .nav_logo a{
            font-size: 20px;
        }

        .nav_buttons{
            color: #636b6f;
            font-family: 'Nunito', sans-serif;
            font-weight: 200;
            font-size: 20px;

            .top-right.links a{
                margin-left: 20px;
            }
        }


    }

    .jumbo {

        position: relative;
        top: 200px;
        p{
            font-size: 25px;
        }

        input{
            margin: none;
            padding: 10px;
            font-size: 18px;
        }

        button{
            margin: none;
            padding: 10px 15px;
            font-size: 18px;
        }

    }

    #boy-img{
        width: 350px;
        height: auto;
        position: absolute;
        right:10px;
        bottom:-230px;
        animation-duration: 2s;
    }

    #casa{

        width: 500px;
        height: auto;
        position: absolute;
        right:150px;
        bottom:-140px;

    }
}
