header {
    background: rgb(42,157,143);
    background: linear-gradient(0deg, rgba(42,157,143,1) 0%, rgba(244,162,97,1) 37%, rgba(233,196,106,1) 69%);

    .mycontainer {

        nav {
            align-items: center;
            padding: 5px 0;
    
            .nav_left {

                .nav_logo {
                    margin-right: 15px;
                    font-size: $text_big;
                    
                    img {
                        width: 80px;
    
                        &:hover {
                            scale: 1.1;
                        }
                    }
                } 

                .nav_search {
                    
                    input {
                        padding: 5px 10px;
                        width: 200px;
                        background-image: url("/storage/images/search.png");
                        background-position: 160px 3px;
                        background-size: 30px 31px;
                        background-repeat: no-repeat;
                        border: none;
                        border-radius: 15px;
                        -webkit-box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.91);
                        -moz-box-shadow:    2px 2px 2px 0px rgba(50, 50, 50, 0.91);
                        box-shadow:         2px 2px 2px 0px rgba(50, 50, 50, 0.91);
                    }
                }
            } //fine nav_left

            .nav_right {

                .cart {
                    cursor: pointer;
                    
                    img {
                        width: 25px;
                    }
                }

                .nav_buttons {
                    color: $blue;
    
                    .navbar-nav {
                        flex-direction: row;
    
                        li.nav-item {
                            margin-left: 15px;
                        }
                    }
                }
            } //fine nav_right
        } //fine nav
    } //fine mycontainer
} //finer header
