main {
    margin-top: 85px;
    text-align: center;
    background-color: $yellow;

    #myrestaurant {
        padding: 15x;
        background-color: $orange;
        border-bottom: 2px solid $blue;
        
        i {
            font-size: inherit;
        }
    }

    #myjumbotron {
        padding-top: 30px;
        background: rgb(42,157,143);
        background: linear-gradient(0deg, rgba(42,157,143,1) 0%, rgba(244,162,97,1) 37%, rgba(233,196,106,1) 69%);

        .mycontainer {

            .title {
                margin-bottom: 30px;
                width: 100%;
            }

            .jumbotron_container {
                width: 100%;

                .jumbotron_search {
                    margin: 5px;
                    padding: 15px;
                    width: 30%;
                    background-color: $blue;
                    border-radius: 10px;
                    -webkit-box-shadow: 4px 4px 6px 0px rgba(50, 50, 50, 0.91);
                    -moz-box-shadow:    4px 4px 6px 0px rgba(50, 50, 50, 0.91);
                    box-shadow:         4px 4px 6px 0px rgba(50, 50, 50, 0.91);
     
                    input {
                    padding: 10px;
                    width: 95%;
                    font-size: $text_big;
                    border: solid 2px white;
                    border-radius: 10px;
                    -webkit-box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.91);
                    -moz-box-shadow:    2px 2px 2px 0px rgba(50, 50, 50, 0.91);
                    box-shadow:         2px 2px 2px 0px rgba(50, 50, 50, 0.91);

                     &:focus {
                         border: solid 2px $red;
                     }
                    }
     
                    label {
                        margin-top: 15px;
                        color: $yellow;
                    }

                    select {
                        width: 100%;
                    }

                    button {
                        margin-top: 25px;
                        padding: 10px 15px;
                        width: 50%;
                        font-size: $text_big;
                        background-color: $yellow;
                        border: solid 2px $red;
                        border-radius: 10px;
                        -webkit-box-shadow: 2px 2px 2px 0px rgba(50, 50, 50, 0.91);
                        -moz-box-shadow:    2px 2px 2px 0px rgba(50, 50, 50, 0.91);
                        box-shadow:         2px 2px 2px 0px rgba(50, 50, 50, 0.91);

                        &:hover {
                            background-color: $red;
                            border: solid 2px $yellow;
                        }
                    }   

                    .chekbox_container {

                            li {
                                width: 100px;
                                margin: 5px;
                                color: $light;

                            }

                            input {
                                margin: 0;
                                margin-right: 10px;
                                width: auto;
                                box-shadow: none;
                            }
                        }
                } // fine jumbotron_search

                .picture {
                    margin-left: 30px;
                    height: 400px;
                    width: 70%;

                    .jumbotron_casa {
                        width: 500px;
                        top: 0;
                        left: 10%;
                    }

                    .jumbotron_moto {
                        width: 270px;
                        left: 40%;
                        bottom:0;
                        animation-duration: 2s;
                    }
                }
            }
        }        
    } //fine section myjumbotron

    //sezione ristoranti
    #restaurants {
        padding: 30px 0;

        .restaurant_card {
            margin: 10px;
            background-color: #fff;
            height: 200px;
            width: 200px;
            border-radius: 20px;
            -webkit-box-shadow: 4px 4px 6px 0px rgba(50, 50, 50, 0.91);
            -moz-box-shadow:    4px 4px 6px 0px rgba(50, 50, 50, 0.91);
            box-shadow:         4px 4px 6px 0px rgba(50, 50, 50, 0.91);
            cursor: pointer;

            img {
                height: 100%;
                width: 100%;
                border-radius: 20px;
            }

            h4 {
                left: 50%;
                bottom: 0;
                transform: translateX(-50%);
                padding: 0 5px;
                color: $green;
                text-shadow: 1px 1px 1px #264653;
                background-color: $yellow;
                border-radius: 10px;
            }
        }
    } //fine sezione ristoranti
}
