#statistiche{
    background-color: $yellow;
    padding: 150px 0;

    .mycontainer{

        h4{

            text-align: center;

        }


    }
    .graph_container{
        margin: auto;
        padding: 10px;
        width: 60%;
        max-width: 600px;
        background-color: #fff;
        border-radius: 20px;
        -webkit-box-shadow: 4px 4px 6px 0px rgba(50, 50, 50, 0.91);
        -moz-box-shadow: 4px 4px 6px 0px rgba(50, 50, 50, 0.91);
        box-shadow: 4px 4px 6px 0px rgba(50, 50, 50, 0.91);

        #myChart{
            margin: auto;
        }
    }


}
