// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//my file
@import "partials/flex.scss";
@import "partials/header.scss";
//@import "partials/main.scss";
@import "partials/footer.scss";

body{


    //common rules
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    .main-bg{
        background: rgb(42,157,143);
        background: linear-gradient(0deg, rgba(42,157,143,1) 0%, rgba(244,162,97,1) 37%, rgba(233,196,106,1) 69%);
    }
    
    .mycontainer {
        width: 80%;
        max-width: 1000px;
        margin: auto;
    }

    ul li {
      list-style: none;
    }

    a {
      text-decoration: none;
      color: inherit;
    }

    input:focus {
      outline: none;
    }

    .relative {
      position: relative;
    }

    .absolute {
      position: absolute;
    }

}
